<%# <div class="banner-image" ><%= cl_image_tag @list.photo.key, height: 200, width: 100, crop: :fill, gravity: :face %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.photo.key, height: 300, width: 2000, crop: :fill, gravity: :face if @list.photo.key %>');">
</div>

<div class="container pt-3">

  <div style="display: flex; align-items:center; padding-top: 20px; justify-content: space-between;">
    <h1><%= @list.name %></h1>
    <p><%= link_to "Add a bookmark", new_list_bookmark_path(@list, @bookmark), class: "btn btn-info" %></p>
  </div>

    <% @list.bookmarks.each do |bookmark| %>
      <div class="card-product">
        <img src="<%= bookmark.movie.poster_url%>"/>
        <div class="card-product-infos">
          <h2><%= bookmark.movie.title %></h2><p><%= "(#{bookmark.movie.rating})" %></p>
          <p><%= bookmark.movie.overview %></p>
          <p>Note perso : <em><%= bookmark.comment %></em></p>
        </div>
        <div class="card-product-delete">
          <%= link_to "",
              bookmark_path(bookmark),
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
              class: "fa fa-trash"
            %>
        </div>
      </div>
    <% end %>
</div>
